.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  height: 100vh;
}

.img {
  max-width: 40%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title {
  font-size: 6.2rem;
  font-weight: 800;
  line-height: 1.3;
}

.desc {
  font-size: 2.4rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #3749ea;
  padding: 1.6rem 3.2rem;
  border-radius: 9.9rem;
  border: none;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn:active {
  background-color: #221262;
}

.icon,
.icon:link,
.icon:visited {
  font-size: 2.8rem;
  transition: color 0.25s ease-in-out;
}

.icon:hover,
.icon:active {
  color: #3749ea;
}

/* smaller desktops */

@media screen and (max-width: 84em) {
  .container {
    max-width: 120rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 9.6rem;
  }

  .img {
    width: 75%;
  }

  .text {
    gap: 2.4rem;
  }
}

/* tablets */
@media (max-width: 59em) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .img {
    max-width: 75%;
  }
}
