.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  /* max-width: 900px; */
  margin: 0 auto;
  height: 100vh;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}

.item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* flex-shrink: 1; */
}

.title {
  font-size: 60px;
  font-weight: 800;
  color: #3749ea;
}

.name {
  color: #444;
}

.chat {
  color: #3749ea;
  /* font-weight: 600; */
}

.desc {
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 12px;
}

.btn {
  width: 200px;
  padding: 20px;
}

.live,
.portfolio {
  padding: 20px 40px;
  border-radius: 99px;
  border: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.live {
  background-color: #3749ea;
}

.live:hover {
  background-color: #221262;
}

.portfolio {
  color: inherit;
}

.portfolio:hover {
  background-color: #a8a8a8;
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    margin-top: -100px;
  }

  .item {
    gap: 20px;
  }

  .title {
    font-size: 32px;
  }

  .desc {
    font-size: 16px;
  }
}
