.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
}

.arrowwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #3749ea;
}

.arrow {
  height: 72px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 72px;
  margin-bottom: 12px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin-bottom: 12px;
}

.tags {
  padding: 5px 10px;
  border-radius: 99px;
  background-color: #f8e71c;
  font-size: 16px;
  font-weight: 700;
}

.description {
  font-size: 20px;
}

.buttons {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.live,
.github {
  padding: 10px 20px;
  border-radius: 99px;
  border: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.live {
  background-color: #3749ea;
}

.live:hover {
  background-color: #221262;
}

.github {
  color: inherit;
}

.github:hover {
  background-color: #a8a8a8;
}

.img {
  border-radius: 50px;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr; /* Change to a single column layout */
    height: auto;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* position: relative; */
    /* gap: 40px; */
  }

  .arrowwrapper {
    margin-bottom: 96px;
    flex-direction: column;
  }

  .arrowtext {
    font-size: 16px;
  }

  .arrow {
    height: 44px;
  }

  .title {
    font-size: 44px;
  }

  .list {
    flex-wrap: wrap;
  }

  .tags {
    font-size: 12px;
  }

  .description {
    font-size: 16px;
  }

  .img {
    order: -1;
    border-radius: none;
  }
}
