.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
  height: 100vh;
}

.img {
  clip-path: circle();
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
}

.text {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.stack {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 2.4rem;
  transition: color 0.25s ease-in-out;
}

.links:hover {
  color: blue;
}

/* smaller desktops */
@media (max-width: 84em) {
}

/* tablets */
@media (max-width: 59em) {
  .container {
    flex-direction: column;
    margin-bottom: 44rem;
    gap: 0;
  }

  .wrapper {
    max-width: 75%;
  }
}

/* phones */
@media (max-width: 34em) {
  .wrapper {
    max-width: 100%;
  }
}
