.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100vh;
}

.img {
  clip-path: circle();
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* word-spacing: 12px; */

  /* font-weight: 700; */
}

.stack {
  font-size: 28px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 12px;
}

.links {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.25s ease-in-out;
}

.links:hover {
  color: blue;
}
