.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.text {
  padding: 44px;
}

.title {
  font-size: 72px;
  margin-bottom: 12px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  margin-bottom: 12px;
}

.tags {
  padding: 5px 10px;
  border-radius: 99px;
  background-color: yellow;
}

.buttons {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.live,
.github {
  padding: 20px 40px;
  border-radius: 99px;
  border: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.live {
  background-color: #3749ea;
}

.live:hover {
  background-color: #221262;
}

.github {
  color: inherit;
}

.github:hover {
  background-color: #a8a8a8;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  border-radius: 24px;
}
