* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}

a {
  text-decoration: none;
  color: inherit;
}

.light {
  background-color: #fefbf1;
  color: #444;
}

.dark {
  background-color: #111;
  color: whitesmoke;
}

.theme {
  transition: 0.25s all ease-in-out;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5.6rem;
}

/* landscape tablets */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* tablets */
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

/* smaller tablets */
@media (max-width: 44em) {
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 24px;
  }
}
